body {font-size: 18px;
      line-height: 1.4;
      font-family:Helvetica;
      color:grey;}

.horizontal {display:flex;}
.vertical {display:flex;
          flex-direction: column;}
.container {margin:0 auto;
            max-width: 960px;}
.mobile {display:none;}
#banner {background-image: url("./../mainbannerbackground.png");
        background-size: cover;
        background-repeat: no-repeat;
        height:31rem;
        padding-top:1rem;

        }
header {background-color:cadetblue;
        color: white;
        font-size: 1rem;
        padding: 1rem 2rem;
        justify-content: space-between;
        align-items: center;
        }
header nav ul {list-style: none;}
header nav ul li {
                  padding-right:2rem;
                  display: inline;}
a {text-decoration:none;
  color:white;}
header nav ul li:last-of-type {padding-right:0;}
header img {height:1.5rem;
            margin-right:1rem;}
#ad {
      margin-top:11rem;
      margin-right:0rem;
      text-align: right;
    }
#ad span{font-weight: bold;
              font-size:2rem;
              line-height: 1.2;
              padding: 1.5rem 5rem;
              background-color:white;
              color:grey;
              margin-right:-2rem;
              }
#logo {align-items: center;}
.service {height:8rem;
          padding-right:6rem;
          justify-content: space-between;
          align-items: center;
          text-align:center;}
.service:last-of-type{padding-right:0;}
#services {padding:3rem 0;
          justify-content: center;}
#s1 img {width:3.5rem;}
#s2 img, #s3 img {width:5rem;}
#info {justify-content: center;
      margin-bottom:5rem;

      }
#info .span {background-color:cadetblue;
            color:white;
            padding:.5rem 0 .5rem 1.25rem;
            width:10rem;
            font-weight: bold;
            font-size: 1rem;
            margin-bottom:1rem;}
.info {width:35%;
      padding-right:5%;}
.info:last-of-type {padding-right:0;}
footer {background-color:azure;
        align-items: flex-end;
        padding:4rem 0 4rem 4rem;
        }
footer img{margin-right:1rem;
          height:1.5rem;}

@media only screen and (max-width:960px){
  #banner {height:22rem;

          padding-top:0;}
          #ad {margin-top:8.55rem;
            margin-right:6rem;
          }
          #ad span {padding:.75rem 4rem;
                    font-size:1.33rem;
                  }

}
@media only screen and (max-width:640px){
  .mobile {display:block;}
  .desktop{display:none;}
  .container{width: 100%;}
  #banner {height:17rem;}
  #ad {margin-top:9rem;}
  #mad {width:100%;
        background-color:white;
      text-align: center;}
  #ad p {
        padding:1rem 0;
        font-size: 1rem;
        }
  #services {margin-top:3.77rem;
            flex-direction: column;
            align-items: center;
            padding-top:0;}
  .service {margin:0;
              margin-bottom:1.54rem;
            padding-right:0;}
  .service:last-of-type{margin-bottom:0;}
  .service p {font-size:0.77rem;
              }
  #info {flex-direction: column;
        margin-bottom:0;}
  .info {width:100%;
        }
  .info p{font-size: .77rem;
          margin-bottom:4rem;
          margin-left:.25rem;
          margin-right:.25rem;
          
          }
#info  .span {width:100%;
    text-align: center;
    padding:.5rem 0;
        }
  footer{width:100%;
      justify-content: center;
      padding-left:0;
      padding-right:0;
      }
}
